html {
  font: normal 150%/1.5 'Open Sans', sans-serif;
  color: #222;
  min-height: 100vh;
    background: linear-gradient(360deg, #f1f1f5, #ffffff);
}

h3 {
  font-size: 1.6rem;
  line-height: 1.88;
}

a {
  text-decoration: none;
  color: rgb(60, 60, 180);
}

p, h3{
  margin: 0 0 1.5rem 0;
}

body{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: 40rem;
}

.push {
  margin-bottom: 1.5rem;
}

.push-top {
  margin-top: 1.5rem;
}

.push-none {
  margin-bottom: 0;
}
.gutter {
  padding: 1.5rem;
}

.line {
  border-right: 1px solid rgba(0, 0, 0, 0.4);
  width: 63.2%;
}

nav {
  margin: 0 auto;
}

header {
  width: 37.8%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.content{
}
